openapi: 3.0.3
info:
  description: "The Gemini API allows developers to build generative AI applications\
    \ using Gemini models. Gemini is our most capable model, built from the ground\
    \ up to be multimodal. It can generalize and seamlessly understand, operate across,\
    \ and combine different types of information including language, images, audio,\
    \ video, and code. You can use the Gemini API for use cases like reasoning across\
    \ text and images, content generation, dialogue agents, summarization and classification\
    \ systems, and more."
  title: Generative Language API
  version: v1beta
  x-google-revision: "20250601"
externalDocs:
  description: Find more info here.
  url: https://developers.generativeai.google/api
servers:
- description: Global Endpoint
  url: https://generativelanguage.googleapis.com
paths:
  /v1beta/dynamic/{dynamicId}:streamGenerateContent:
    post:
      description: |-
        Generates a [streamed
        response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream)
        from the model given an input `GenerateContentRequest`.
      operationId: StreamGenerateContentByDynamicId
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: |-
          Part of `model`. Required. The name of the `Model` to use for generating the completion.

          Format: `models/{model}`.
        explode: false
        in: path
        name: dynamicId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateContentRequest'
        description: The request body.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateContentResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
      x-google-operation-name: StreamGenerateContent
  /v1beta/tunedModels/{tunedModel}:generateText:
    post:
      description: Generates a response from the model given an input message.
      operationId: GenerateTextByTunedModel
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: tunedModel
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateTextRequest'
        description: The request body.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateTextResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
      x-google-operation-name: GenerateText
  /v1beta/corpora/{corpus}/documents:
    get:
      description: Lists all `Document`s in a `Corpus`.
      operationId: ListDocuments
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: corpus
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Optional. The maximum number of `Document`s to return (per page).
          The service may return fewer `Document`s.

          If unspecified, at most 10 `Document`s will be returned.
          The maximum size limit is 20 `Document`s per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: |-
          Optional. A page token, received from a previous `ListDocuments` call.

          Provide the `next_page_token` returned in the response as an argument to
          the next request to retrieve the next page.

          When paginating, all other parameters provided to `ListDocuments`
          must match the call that provided the page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDocumentsResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
    post:
      description: Creates an empty `Document`.
      operationId: CreateDocument
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: corpus
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Document'
        description: Required. The `Document` to create.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/tunedModels/{tunedModel}/permissions:
    get:
      description: Lists permissions for the specific resource.
      operationId: ListPermissions
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: tunedModel
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Optional. The maximum number of `Permission`s to return (per page).
          The service may return fewer permissions.

          If unspecified, at most 10 permissions will be returned.
          This method returns at most 1000 permissions per page, even if you pass
          larger page_size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: |-
          Optional. A page token, received from a previous `ListPermissions` call.

          Provide the `page_token` returned by one request as an argument to the
          next request to retrieve the next page.

          When paginating, all other parameters provided to `ListPermissions`
          must match the call that provided the page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPermissionsResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
    post:
      description: Create a permission to a specific resource.
      operationId: CreatePermission
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: tunedModel
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
        description: Required. The permission to create.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/tunedModels/{tunedModel}/operations:
    get:
      description: |-
        Lists operations that match the specified filter in the request. If the
        server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: ListOperations
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: tunedModel
        required: true
        schema:
          type: string
        style: simple
      - description: The standard list filter.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The standard list page size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The standard list page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/models/{model}:generateMessage:
    post:
      description: Generates a response from the model given an input `MessagePrompt`.
      operationId: GenerateMessage
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: model
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateMessageRequest'
        description: The request body.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateMessageResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/tunedModels:
    get:
      description: Lists created tuned models.
      operationId: ListTunedModels
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: |-
          Optional. The maximum number of `TunedModels` to return (per page).
          The service may return fewer tuned models.

          If unspecified, at most 10 tuned models will be returned.
          This method returns at most 1000 models per page, even if you pass a larger
          page_size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: |-
          Optional. A page token, received from a previous `ListTunedModels` call.

          Provide the `page_token` returned by one request as an argument to the next
          request to retrieve the next page.

          When paginating, all other parameters provided to `ListTunedModels`
          must match the call that provided the page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Optional. A filter is a full text search over the tuned model's description and
          display name. By default, results will not include tuned models shared
          with everyone.

          Additional operators:
            - owner:me
            - writers:me
            - readers:me
            - readers:everyone

          Examples:
            "owner:me" returns all tuned models to which caller has owner role
            "readers:me" returns all tuned models to which caller has reader role
            "readers:everyone" returns all tuned models that are shared with everyone
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTunedModelsResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
    post:
      description: |-
        Creates a tuned model.
        Check intermediate tuning progress (if any) through the
        [google.longrunning.Operations] service.

        Access status and results through the Operations service.
        Example:
          GET /v1/tunedModels/az2mb0bpw6i/operations/000-111-222
      operationId: CreateTunedModel
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: |-
          Optional. The unique id for the tuned model if specified.
          This value should be up to 40 characters, the first character must be a
          letter, the last could be a letter or a number. The id must match the
          regular expression: `[a-z]([a-z0-9-]{0,38}[a-z0-9])?`.
        explode: true
        in: query
        name: tunedModelId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TunedModel'
        description: Required. The tuned model to create.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTunedModelOperation'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
      x-google-lro: "true"
  /v1beta/models/{model}:streamGenerateContent:
    post:
      description: |-
        Generates a [streamed
        response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream)
        from the model given an input `GenerateContentRequest`.
      operationId: StreamGenerateContent
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: model
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateContentRequest'
        description: The request body.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateContentResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/corpora/{corpus}/permissions/{permission}:
    delete:
      description: Deletes the permission.
      operationId: DeletePermissionByCorpusAndPermission
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: corpus
        required: true
        schema:
          type: string
        style: simple
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: permission
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
      x-google-operation-name: DeletePermission
    get:
      description: Gets information about a specific Permission.
      operationId: GetPermissionByCorpusAndPermission
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: corpus
        required: true
        schema:
          type: string
        style: simple
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: permission
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
      x-google-operation-name: GetPermission
    patch:
      description: Updates the permission.
      operationId: UpdatePermissionByCorpusAndPermission
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: corpus
        required: true
        schema:
          type: string
        style: simple
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: permission
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Required. The list of fields to update. Accepted ones:
           - role (`Permission.role` field)
        explode: true
        in: query
        name: updateMask
        required: true
        schema:
          format: google-fieldmask
          pattern: "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$"
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
        description: |-
          Required. The permission to update.

          The permission's `name` field is used to identify the permission to update.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
      x-google-operation-name: UpdatePermission
  /v1beta/models/{model}:generateAnswer:
    post:
      description: |-
        Generates a grounded answer from the model given an input
        `GenerateAnswerRequest`.
      operationId: GenerateAnswer
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: model
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateAnswerRequest'
        description: The request body.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateAnswerResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/models/{model}:embedContent:
    post:
      description: |-
        Generates a text embedding vector from the input `Content` using the
        specified [Gemini Embedding
        model](https://ai.google.dev/gemini-api/docs/models/gemini#text-embedding).
      operationId: EmbedContent
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: model
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbedContentRequest'
        description: The request body.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbedContentResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/corpora/{corpus}:
    delete:
      description: Deletes a `Corpus`.
      operationId: DeleteCorpus
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: corpus
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Optional. If set to true, any `Document`s and objects related to this `Corpus` will
          also be deleted.

          If false (the default), a `FAILED_PRECONDITION` error will be returned if
          `Corpus` contains any `Document`s.
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
    get:
      description: Gets information about a specific `Corpus`.
      operationId: GetCorpus
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: corpus
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
    patch:
      description: Updates a `Corpus`.
      operationId: UpdateCorpus
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: corpus
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Required. The list of fields to update.
          Currently, this only supports updating `display_name`.
        explode: true
        in: query
        name: updateMask
        required: true
        schema:
          format: google-fieldmask
          pattern: "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$"
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Corpus'
        description: Required. The `Corpus` to update.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/models/{model}/operations:
    get:
      description: |-
        Lists operations that match the specified filter in the request. If the
        server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: ListOperationsByModel
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: model
        required: true
        schema:
          type: string
        style: simple
      - description: The standard list filter.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The standard list page size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The standard list page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
      x-google-operation-name: ListOperations
  /v1beta/models/{model}:predictLongRunning:
    post:
      description: Same as Predict but returns an LRO.
      operationId: PredictLongRunning
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: model
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictLongRunningRequest'
        description: The request body.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictLongRunningOperation'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
      x-google-lro: "true"
  /v1beta/models/{model}:batchEmbedText:
    post:
      description: |-
        Generates multiple embeddings from the model given input text in a
        synchronous call.
      operationId: BatchEmbedText
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: model
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchEmbedTextRequest'
        description: The request body.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchEmbedTextResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/corpora/{corpus}:query:
    post:
      description: Performs semantic search over a `Corpus`.
      operationId: QueryCorpus
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: corpus
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryCorpusRequest'
        description: The request body.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCorpusResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/batches:
    get:
      description: |-
        Lists operations that match the specified filter in the request. If the
        server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: ListOperationsBy
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: The standard list filter.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The standard list page size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The standard list page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
      x-google-operation-name: ListOperations
  /v1beta/models:
    get:
      description: |-
        Lists the [`Model`s](https://ai.google.dev/gemini-api/docs/models/gemini)
        available through the Gemini API.
      operationId: ListModels
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: |-
          The maximum number of `Models` to return (per page).

          If unspecified, 50 models will be returned per page.
          This method returns at most 1000 models per page, even if you pass a larger
          page_size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: |-
          A page token, received from a previous `ListModels` call.

          Provide the `page_token` returned by one request as an argument to the next
          request to retrieve the next page.

          When paginating, all other parameters provided to `ListModels` must match
          the call that provided the page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/files/{file}:download:
    get:
      description: Download the `File`.
      operationId: DownloadFile
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: file
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadFileResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/models/{model}:countMessageTokens:
    post:
      description: Runs a model's tokenizer on a string and returns the token count.
      operationId: CountMessageTokens
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: model
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountMessageTokensRequest'
        description: The request body.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountMessageTokensResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/models/{model}:generateText:
    post:
      description: Generates a response from the model given an input message.
      operationId: GenerateText
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: model
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateTextRequest'
        description: The request body.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateTextResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/tunedModels/{tunedModel}:streamGenerateContent:
    post:
      description: |-
        Generates a [streamed
        response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream)
        from the model given an input `GenerateContentRequest`.
      operationId: StreamGenerateContentByTunedModel
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: tunedModel
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateContentRequest'
        description: The request body.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateContentResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
      x-google-operation-name: StreamGenerateContent
  /v1beta/tunedModels/{tunedModel}/permissions/{permission}:
    delete:
      description: Deletes the permission.
      operationId: DeletePermission
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: tunedModel
        required: true
        schema:
          type: string
        style: simple
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: permission
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
    get:
      description: Gets information about a specific Permission.
      operationId: GetPermission
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: tunedModel
        required: true
        schema:
          type: string
        style: simple
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: permission
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
    patch:
      description: Updates the permission.
      operationId: UpdatePermission
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: tunedModel
        required: true
        schema:
          type: string
        style: simple
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: permission
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Required. The list of fields to update. Accepted ones:
           - role (`Permission.role` field)
        explode: true
        in: query
        name: updateMask
        required: true
        schema:
          format: google-fieldmask
          pattern: "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$"
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
        description: |-
          Required. The permission to update.

          The permission's `name` field is used to identify the permission to update.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/models/{model}:countTextTokens:
    post:
      description: Runs a model's tokenizer on a text and returns the token count.
      operationId: CountTextTokens
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: model
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountTextTokensRequest'
        description: The request body.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountTextTokensResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/tunedModels/{tunedModel}:generateContent:
    post:
      description: |-
        Generates a model response given an input `GenerateContentRequest`.
        Refer to the [text generation
        guide](https://ai.google.dev/gemini-api/docs/text-generation) for detailed
        usage information. Input capabilities differ between models, including
        tuned models. Refer to the [model
        guide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning
        guide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.
      operationId: GenerateContentByTunedModel
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: tunedModel
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateContentRequest'
        description: The request body.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateContentResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
      x-google-operation-name: GenerateContent
  /v1beta/corpora/{corpus}/documents/{document}/chunks:batchDelete:
    post:
      description: Batch delete `Chunk`s.
      operationId: BatchDeleteChunks
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: corpus
        required: true
        schema:
          type: string
        style: simple
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: document
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchDeleteChunksRequest'
        description: The request body.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/tunedModels/{tunedModel}:
    delete:
      description: Deletes a tuned model.
      operationId: DeleteTunedModel
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: tunedModel
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
    get:
      description: Gets information about a specific TunedModel.
      operationId: GetTunedModel
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: tunedModel
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TunedModel'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
    patch:
      description: Updates a tuned model.
      operationId: UpdateTunedModel
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: tunedModel
        required: true
        schema:
          type: string
        style: simple
      - description: Optional. The list of fields to update.
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          format: google-fieldmask
          pattern: "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$"
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TunedModel'
        description: Required. The tuned model to update.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TunedModel'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/corpora/{corpus}/documents/{document}/chunks:batchUpdate:
    post:
      description: Batch update `Chunk`s.
      operationId: BatchUpdateChunks
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: corpus
        required: true
        schema:
          type: string
        style: simple
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: document
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateChunksRequest'
        description: The request body.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateChunksResponse'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/models/{model}:
    get:
      description: |-
        Gets information about a specific `Model` such as its version number, token
        limits,
        [parameters](https://ai.google.dev/gemini-api/docs/models/generative-models#model-parameters)
        and other metadata. Refer to the [Gemini models
        guide](https://ai.google.dev/gemini-api/docs/models/gemini) for detailed
        model information.
      operationId: GetModel
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
          - v1 error format
          - v2 error format
        style: form
      - description: Resource ID segment making up resource `name`. It identifies
          the resource within its parent collection as described in https://google.aip.dev/122.
        explode: false
        in: path
        name: model
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
          description: Successful operation
      security: []
      tags:
      - generativelanguage
  /v1beta/batches/{generateContentBatch}:
    get:
      description: |-
        Gets the latest state of a long-running operation.  Clients can use this
        method to poll the operation result at intervals as recommended by the API
        service.
      operationId: GetOperationByGenerateContentBatch
      parameters:
      - description: Data format for response.
        explode: true
        in: query
        name: $alt
        required: false
        schema:
          default: json
          enum:
          - json
          - media
          - proto
          type: string
          x-google-enum-descriptions:
          - Responses with Content-Type of application/json
          - Media download with context-dependent Content-Type
          - Responses with Content-Type of application/x-protobuf
        style: form
      - description: JSONP
        explode: true
        in: query
        name: $callback
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: $prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
          x-google-enum-descriptions:
[...]
